{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <form method="POST" class="flex justify-center flex-col">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <p class="alert alert-{{ type }}" role="alert">
                    {{ message }}
                </p>
            {% endfor %}
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal font-bold">Créer un compte</h1>

        <label for="username">Votre adresse mail</label>
        <input type="email" name="username" id="username" class="form-control" autocomplete="email" required autofocus>

        <label for="name">Votre prénom</label>
        <input type="text" name="name" id="name" class="form-control" required>

        <label for="family_name">Votre nom de famille</label>
        <input type="text" name="family-name" id="family-name" class="form-control" required>

        <label for="password">Votre mot de passe</label>
        <input type="password" name="password" id="password" class="form-control" required>

        <label for="password-confirm">Confirmez votre mot de passe</label>
        <input type="password" name="password-confirm" id="password-confirm" class="form-control" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('registration') }}">

        <button class="btn btn-lg btn-primary font-bold mt-3" type="submit">
            S'inscrire
        </button>
    </form>
{% endblock %}
