
<hr class="my-6 border-gray-200 md:my-10 w-full">
        
<div class="flex flex-col items-center justify-between sm:flex-row">
    <p class="mt-4 text-sm text-highlightColor sm:mt-0">© Copyright {{ "now"|date("Y") }}. All Rights Reserved.</p>

    <a href="#">
        <img class="w-auto h-20" src="{{ asset('images/logo.jpg') }}" alt="logo">
    </a>
</div>